body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color:bisque;
}


#container{
    width:514px;
    height: 514px;
    border: 2px black solid;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: auto;
    background-color: white;
}

button{
    padding: 8px 15px ;
    border-radius: 8px;
    border: 16px ;
    background: skyblue;
}